.photo1 {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo2 {
    width: 200px;
    height: 200px;
    background-position: top;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo3 {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo4 {
    width: 200px;
    height: 200px;
    background-position: bottom;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo5 {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo6 {
    width: 200px;
    height: 200px;
    background-position: left;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo7 {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo8 {
    width: 200px;
    height: 200px;
    background-position: right;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo9 {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}

.photo10 {
    width: 200px;
    height: 200px;
    background-position: center;
    border: 2px darkgreen dashed;
    border-radius: 20%;
    box-shadow: 10px 8px darkblue;
}